/* src/pages/ListagemAreas.css */
.listagem-areas {
    padding: 2rem;
}

.listagem-areas h2 {
    margin-bottom: 1.5rem;
}

.listagem-areas .MuiButton-root {
    margin-bottom: 1rem;
}

.MuiPaper-root {
    margin-top: 20px;
}

.MuiListItemSecondaryAction-root {
    display: flex;
    align-items: center;
}

.MuiTypography-body2 {
    margin-right: 15px;
}
